
.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: var(--gray3);
}

.avatarImageContainer {
       
    margin-right: 0.5rem;

    img {
       
        border-radius: 50%;
    }
}
